<!doctype html>
<html lang="en">

<!-- Head -->
<head>
    <!-- Page Meta Tags-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="./assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;600&display=swap" rel="stylesheet">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/admin/libs.bundle.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="/admin/theme.bundle.css" />

    <!-- Fix for custom scrollbar if JS is disabled-->
    <noscript>
        <style>
          /**
          * Reinstate scrolling for non-JS clients
          */
          .simplebar-content-wrapper {
            overflow: auto;
          }
        </style>
    </noscript>

    <!-- Page Title -->
    <title>Kavlan | Bootstrap 5 HTML Admin Dashboard</title>
    
</head>
<body class="">

    <!-- Main Section-->
    <section class="d-flex justify-content-center align-items-start vh-100 py-5 px-3 px-md-0">

        <div class="d-flex flex-column w-100 align-items-center">
            <div class="p-4 p-sm-5 col-lg-7 col-md-10 col-12 text-center px-4">
                <i class="ri-file-damage-fill ri-5x mb-3"></i>
                <h1 class="mb-4 display-5 fw-bold">404 page not found</h1>
                <p class="lead text-muted">Looks like you've entered an incorrect page URL, or the page you are looking for
                    no longer exists.</p>
                <a class="btn btn-primary mt-4" href="./index.html">Back to home</a>
            </div>
        </div>

    </section>
    <!-- / Main Section-->

    <!-- Theme JS -->
    <!-- Vendor JS -->
    <script src="./assets/js/vendor.bundle.js"></script>
    
    <!-- Theme JS -->
    <script src="./assets/js/theme.bundle.js"></script>
</body>

</html>
{{!-- ---------------------------------------------------------------------- --}}
  <!-- Modal -->

   <h1 class="h10">Category-List</h1>
          <button
              type="button"
              class="btn btn-light   btn-lg w-50 mb-3"
              data-toggle="modal"
              data-target="#exampleModalCenter"
          >
              Add Category
          </button>


                                              <form class="frml" action="/user/checkout" method="POST">

              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                          <div class="modal-header bg-dark text-light">
                              <h5 class="modal-title" id="exampleModalLongTitle">Add Category</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body bg-dark text-light">
         <label for="couponCode">Coupon Code:</label><br>
        <input type="text" id="couponCode" name="couponCode"><br>
        <label for="discountPercentage">Discount Percentage:</label><br>
        <input type="number" id="discountPercentage" name="discountPercentage" step="0.01"><br>
        <button type="submit">Create Coupon</button>

    </div>
    <br>
    <!-- Add Submit Button -->
    <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                      </div>
                  </div>
              </div>
          </form>

          {{!-- --------------------------------------------------------------   --}}
                                </div>
                            </li>
                            <li class="checkout-item">
                                <div class="avatar checkout-icon p-1">
                                    <div class="avatar-title rounded-circle bg-primary">
                                        <i class="bx bxs-truck text-white font-size-20"></i>
                                    </div>
                                </div>
                                <div class="feed-item-list">
                                    <!-- Shipping Info content -->
                                </div>
                            </li>
                            <li class="checkout-item">
                                <div class="avatar checkout-icon p-1">
                                    <div class="avatar-title rounded-circle bg-primary">
                                        <i class="bx bxs-wallet-alt text-white font-size-20"></i>
                                    </div>
                                </div>
                                <div class="feed-item-list">
                                    <!-- Payment Info content -->
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
  <!-- Continue Shopping and Proceed buttons -->
                <div class="row my-4">
                    <div class="col">
                        <a href="ecommerce-products.html" class="btn btn-link text-muted">
                            <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping 
                        </a>
                

                    </div>
                    <div class="col">
                        <div class="text-end mt-2 mt-sm-0">
                            <a href="#" class="btn btn-success">
                                <i class="mdi mdi-cart-outline me-1"></i> Proceed 
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Order Summary section -->
            <div class="col-xl-4">
                <div class="card checkout-order-summary">
                    <div class="card-body">
                        <!-- Order summary content -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS (optional, if needed) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


     <div class="container mt-5">
        <!-- Button to trigger the modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#couponModal">
            Create Coupon
        </button>

        <!-- Modal -->
        <div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="couponModalLabel">Create Coupon</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Coupon creation form -->
                        <form action="/create-coupon" method="post">
                            <div class="form-group">
                                <label for="couponCode">Coupon Code:</label>
                                <input type="text" class="form-control" id="couponCode" name="couponCode">
                            </div>
                            <div class="form-group">
                                <label for="discountPercentage">Discount Percentage:</label>
                                <input type="number" class="form-control" id="discountPercentage" name="discountPercentage" step="0.01">
                            </div>
                            <button type="submit" class="btn btn-primary">Create Coupon</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCk+5L4Z6LZsyA8sYyhDYhq6HY3OdI65+24L" crossorigin="anonymous"></script>