   <form action="/admin/size" method="POST"  enctype="multipart/form-data">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
{{!-- 
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>



<label for="image">Choose an image:</label>
   <input type="file" name="image"> --}}
    <button type="submit">submit</button>
        
    </form>
