<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>











<form action="/admin/edit-category/{{category._id}}" method="PUT">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="{{category.title}}" required><br>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="{{category.description}}" required><br>

    <button type="submit">Submit</button>
</form>




</body>
</html>