<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Admin Dashboard</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="adminDashboard.css" />
    <lin
      rel="shortcut icon"
      type="image/png"
      href="./assets/imgs/favicon.ico"
    />
  </head>

  <body>
    <!-- =============== Navigation ================ -->
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon">
                <img src="./assets/imgs/favicon.ico" alt="" />
              </span>
              <span class="title">Dunprel Store</span>
            </a>
          </li>

          <li>
            <a href="/admin/main">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Dashboard</span>
            </a>
          </li>

          <li>
            <a href="/admin/category">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Category</span>
            </a>
          </li>

          <li>
            <a href="/admin/categorylist">
              <span class="icon">
                <ion-icon name="chatbubble-outline"></ion-icon>
              </span>
              <span class="title">CategoryList</span>
            </a>
          </li>

          <li>
            <a href="/admin/subcategories">
              <span class="icon">
                <ion-icon name="help-outline"></ion-icon>
              </span>
              <span class="title">SubCategory</span>
            </a>
          </li>

          <li>
            <a href="/admin/">
              <span class="icon">
                <ion-icon name="settings-outline"></ion-icon>
              </span>
              <span class="title"></span>
            </a>
          </li>

          <li>
            <a href="/admin/">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title"></span>
            </a>
          </li>

          <li>
            <a href="/admin/logout">
              <span class="icon">
                <ion-icon name="log-out-outline"></ion-icon>
              </span>
              <span class="title">Sign Out</span>
            </a>
          </li>
          <li>
            <a href="/admin/subcategories">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Subcategorylist</span>
            </a>
          </li>
          <li>
            <a href="/admin/subcategories">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Subcategorylist</span>
            </a>
          </li>
          <li>
            <a href="/admin/subcategories">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Subcategorylist</span>
            </a>
          </li>
          <li>
            <a href="/admin/subcategories">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Subcategorylist</span>
            </a>
          </li>
          <li>
            <a href="/admin/subcategories">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Subcategorylist</span>
            </a>
          </li>
          <li>
            <a href="/admin/subcategories">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Subcategorylist</span>
            </a>
          </li>
          <li>
            <a href="/admin/subcategories">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Subcategorylist</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- ========================= Main ==================== -->



<style>
  body{
    background-color: rgba(7, 7, 7, 0.829);
  }
.slm{
  margin-left: 920px;
background-color: rgba(27, 23, 18, 0.08);
border-radius: 40px;
width: 460px;
height: 270px;

}
.full{
  padding-top: 320px;
}
input{
  font-size: 30px;
  height: 60px;
  text-align: center;
  border-radius: 30px;
  background-color: black;
  color: wheat;

}
label{
  font-size: 32px;
  font-weight: bolder;

}

.btn{
  height: 40px;
  width: 80px;
  margin-left: 150px;
  margin-top: 30px;
  border-radius: 30px;
  background-color: rgb(36, 20, 20);
  color: wheat;
}

</style>


<h1>hcvueh</h1>
<div class="full">


   {{#if subta }}

<form class="slm" action="/admin/edit-subcategory/{{subta._id}}" method="POST">  
  <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="{{subta.title}}" required><br>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="{{subta.description}}" required><br>

    <button class="btn" type="submit">Submit</button>
</form>
{{/if}}

</div>

</body>
</html>