<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>









   {{#if cata }}

<form action="/admin/edit-category/{{cata._id}}" method="POST">  
  <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="{{cata.title}}" required><br>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="{{cata.description}}" required><br>

    <button type="submit">Submit</button>
</form>
{{/if}}



</body>
</html>