<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
        .lal{
            background-color: brown;
            height: 500px;
            width: auto;
        }
    </style>
<a href="/admin/logout">
    <button class="bttn3" style="width: 120px; height: 50px;">Logout</button>
</a>

<a href="/admin/productdetails">
    <button class="bttn3" style="width: 120px; height: 50px;">productdetails</button>
</a>

<a href="/admin/productAdd">
    <button class="bttn3" style="width: 120px; height: 50px;">productAdd</button>
</a>
<a href="/admin/category">
    <button class="bttn3" style="width: 120px; height: 50px;">category</button>
</a>
<a href="/admin/categorylist">
    <button class="bttn3" style="width: 120px; height: 50px;">categorylist</button>
</a>
<a href="/admin/subcategories">
    <button class="bttn3" style="width: 120px; height: 50px;">subcategory</button>
</a>
{{!-- <a href="/admin/subcategorylist">
    <button class="bttn3" style="width: 120px; height: 50px;">categorylist</button>
</a> --}}

<!-- Assuming you have a variable named 'username' available in your template context -->
<h1>{{ username }}</h1>

<div class="lal">

</div>




</body>
</html>