
  

<label for="productColor">Product Color:</label>
<div id="colorOptions">
  <input type="checkbox" id="red" name="color" value="red">
  <label for="red" class="color-dot red-dot"></label>

  <input type="checkbox" id="blue" name="color" value="blue">
  <label for="blue" class="color-dot blue-dot"></label>

  <input type="checkbox" id="green" name="color" value="green">
  <label for="green" class="color-dot green-dot"></label>

  <input type="checkbox" id="yellow" name="color" value="yellow">
  <label for="yellow" class="color-dot yellow-dot"></label>

  <input type="checkbox" id="pink" name="color" value="pink">
  <label for="pink" class="color-dot pink-dot"></label>

  <input type="checkbox" id="rose" name="color" value="rose">
  <label for="rose" class="color-dot rose-dot"></label>

  <input type="checkbox" id="black" name="color" value="black">
  <label for="black" class="color-dot black-dot"></label>

  <input type="checkbox" id="white" name="color" value="white">
  <label for="white" class="color-dot white-dot"></label>
</div>

<style>
  .color-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #000;
    cursor: pointer;
  }

  .red-dot { background-color: red; }
  .blue-dot { background-color: blue; }
  .green-dot { background-color: green; }
  .yellow-dot { background-color: yellow; }
  .pink-dot { background-color: pink; }
  .rose-dot { background-color: #ff66b2; }
  .black-dot { background-color: black; color: white; }
  .white-dot { background-color: white; border: 1px solid #000; }
</style>

<script>
  // Optional: You can add JavaScript logic to handle color selection events
  document.getElementById('colorOptions').addEventListener('change', function(event) {
    if (event.target.type === 'checkbox') {
      // Handle color selection logic here
      console.log('Selected color:', event.target.value);
    }
  });
</script>

</body>
</html>