<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter OTP</title>
    <link rel="stylesheet" href="/styles/style.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        h1 {
            margin-left:23%;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
            height: 300px;
        }

        input[type="text"] {
            width: 92%;
            padding: 10px;
            margin-top: 10%;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            width: 100%;
            padding: 10px;
            margin-top: 10%;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-12">
                {{!-- <h2>Enter OTP</h2> --}}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <form action="/vender/verify-otp" method="POST">
                                <h1 >Enter OTP</h1> 

                    {{!-- <input name="phoneNumber" value="{{phoneNumber}}"> --}}
                    <input type="text" name="userEnteredOTP" placeholder="Enter OTP" required>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>
