<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Violet | Template</title>

    <!-- Google Font -->

        <link rel="stylesheet" href="/user/login.css">

                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
   
   

           <link rel="stylesheet" href="/user/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/user/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/user/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/user/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/user/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/user/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/user/style.css" type="text/css">
</head>
</head>

<body>
    <nav>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section" style="position: fixed;z-index:5;background-color: white;width: 100%;top:0%;">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                                        <h5 style="font-size:2em;color: #3e4152;font-weight: bold;">QuickBuY</h5>

                    {{!-- <a href="/"><img src="/logo.png" alt=""></a> --}}
                </div>
                <div class="header-right">
                    <img src="/icons/search.png" alt="" class="search-trigger">
                    <img src="/icons/man.png" alt="">
                    <a href="#">
                        <img src="/icons/bag.png" alt="">
                        <span>2</span>
                    </a>
                </div>
                     <div class="user-access">
                    <a href="/sign">Register</a>
                    <a href="/login" class="in">Sign in</a>
                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="/products">Shop</a>
                            <ul class="sub-menu">
                                {{!-- <li><a href="/productdetails">Product Page</a></li> --}}
                                <li><a href="/shopping-cart">Shopping Card</a></li>
                                {{!-- <li><a href="/check-out">Check out</a></li> --}}
                            </ul>
                        </li>
                        <li><a href="/product-page">About</a></li>
                        <li><a href="/check-out">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    </nav>

    <div class="container">
        <div class="row justify-content-center" style="margin-top:150px;">
            <div class="col-lg-5 col-md-6">
                <form action="/login" method="post" class="p-4 border rounded shadow-lg" onsubmit="return validateLoginForm()">
                    <h1 class="text-center mb-4">Login</h1>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Username" name="email" id="username" oninput="validateEmail()" required>
                        <div id="emailErrorMessage" class="text-danger"></div> <!-- Validation message for email -->
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
                        <div id="passwordValidationMessage" class="text-danger"></div> <!-- Validation message for password -->
                    </div>
                    <div class="mb-3 form-check">
                        <input class="form-check-input" type="checkbox" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Remember Me</label>
                        <a href="/matchEmail" class="ms-3">Forgot password?</a>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                    <div class="mt-3 text-center">
                        <!-- <p>Don't have an account? <a href="/user/sign">Register</a></p> -->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
     
<script>
    function validateForm() {
        var inputs = document.querySelectorAll('.contact-form input, .contact-form textarea');
        var isValid = true;

        inputs.forEach(function(input) {
            if (!input.checkValidity()) {
                input.classList.add('is-invalid');
                isValid = false;
            } else {
                input.classList.remove('is-invalid');
            }
        });

        if (!isValidEmail(document.querySelector('[name="email"]').value)) {
            isValid = false;
            document.querySelector('[name="email"]').classList.add('is-invalid');
        }

        return isValid;
    }

    function isValidEmail(email) {
        // Regular expression to validate email format
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailRegex.test(email);
    }

    function clearValidation(input) {
        input.classList.remove('is-invalid');
        var validationMessage = input.parentNode.querySelector('.invalid-feedback');
        if (validationMessage) {
            validationMessage.style.display = 'none';
        }
    }
</script>
</section> 


</div>

  

    {{!-- <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
            <div class="newslatter-form">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#">
                            <input type="text" placeholder="Your email address">
                            <button type="submit">Subscribe to our newsletter</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-widget">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>About us</h4>
                            <ul>
                                <li>About Us</li>
                                <li>Community</li>
                                <li>Jobs</li>
                                <li>Shipping</li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Customer Care</h4>
                            <ul>
                                <li>Search</li>
                                <li>Privacy Policy</li>
                                <li>2019 Lookbook</li>
                                <li>Shipping & Delivery</li>
                                <li>Gallery</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Our Services</h4>
                            <ul>
                                <li>Free Shipping</li>
                                <li>Free Returnes</li>
                                <li>Our Franchising</li>
                                <li>Terms and conditions</li>
                                <li>Privacy Policy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Information</h4>
                            <ul>
                                <li>Payment methods</li>
                                <li>Times and shipping costs</li>
                                <li>Product Returns</li>
                                <li>Shipping methods</li>
                                <li>Conformity of the products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
				</div>
			</div>

<div class="container text-center pt-5">

            </div>

		</div>
    </footer> --}}
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/user/jquery-3.3.1.min.js"></script>
    <script src="/user/bootstrap.min.js"></script>
    <script src="/user/jquery.magnific-popup.min.js"></script>
    <script src="/user/jquery.slicknav.js"></script>
    <script src="/user/owl.carousel.min.js"></script>
    <script src="/user/jquery.nice-select.min.js"></script>
    <script src="/user/mixitup.min.js"></script>
    <script src="/user/main.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>