<!-- reset-password.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 400px;
            height: 300px;
            margin: 100px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            margin-top: 0;
            text-align: center;
        }
        label {
            display: block;
            font-weight: bold;
            margin-bottom:px;
            margin-top:16%;
        }
        input[type="password"] {
            width: 93%;
                        margin-top:5%;

            padding:10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius:5px;

        }
        button {
                        margin-top:5%;

            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>



    <div class="container">

        <h2>Reset Password</h2>  


        <form action="/resetpassword" method="POST"> 

            {{!-- <input type="hidden" name="phoneNumber" value="{{phoneNumber}}"> --}}

            <label for="newPassword">New Password</label>

            <input type="password" id="newPassword" name="newPassword" required>

            <button type="submit">Reset Password</button>



        </form>
    </div>


</body>
</html>
