<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuickbuY</title>

    <!-- Google Font -->
    <link rel="stylesheet" href="/user/sign.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
{{!-- bootstrap   --}}
   <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Css Styles -->


    <!-- Css Styles -->
    <link rel="stylesheet" href="/user/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/user/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/user/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/user/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/user/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/user/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/user/style.css" type="text/css">
</head>

</head>

<body>
    <nav>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <!-- Search model -->
        <div class="search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch">+</div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Search here.....">
                </form>
            </div>
        </div>
        <!-- Search model end -->

        <!-- Header Section Begin -->
        <header class="header-section">
            <div class="container-fluid">
                <div class="inner-header">
                    <div class="logo">
  <a href="#">
        <h5>
            <img style="height:40px;width:40px;background-color:white;color:white;" src="https://res.cloudinary.com/dd6qdgpfr/image/upload/v1712106218/photo_2024-03-12_20-09-56__2___1_-transformed_ncuoze.png" alt="">
            QuickBuY
        </h5>
    </a>
                </div>
                    <div class="header-right">

                        <a style="margin-right:1px;" class="search-trigger" href=""> <i style="font-size:20px;"
                                class="bi bi-search"></i> </a>


                        <a style="font-size:24px;margin-left:1px;" href="/shopping-cart"><i style="margin-top:5%;"
                                class="bi bi-cart3"></i></a>

                        <a href="/profile"><i style="font-size:24px;" class="bi bi-person"></i></a>



                    </div>
                    <div class="user-access">
                        <a href="/sign">Register</a>
                        <a href="/login" class="in">Sign in</a>
                    </div>
                    <nav class="main-menu mobile-menu">
                        <ul>
                            <li><a class="active" href="/">Home</a></li>
                            <li><a href="/products">Shop</a>
                                <ul class="sub-menu">
                                    {{!-- <li><a href="/user/productdetails">Product Page</a></li> --}}
                                    <li><a href="/shopping-cart">Shopping Card</a></li>
                                    {{!-- <li><a href="/user/check-out">Check out</a></li> --}}
                                </ul>
                            </li>
                            <li><a href="/about">About</a></li>
                            {{!-- <li><a href="/check-out">Blog</a></li> --}}
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

    </nav>


    {{!--
    <link rel="stylesheet" href="/sign.css"> --}}
    <div class="container">
        <div class="row justify-content-center " style="margin-top: 40px;">
            <div class="col-md-6">
                <form action="/sign" method="post" name="myform" onsubmit="return validateForm();"
                    class="p-4 bg-white shadow-lg rounded">
                    <h1 class="text-center mb-4">Signup</h1>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username"
                            name="username" required oninput="validateUsername()">
                        <span id="messageUsername" class="text-danger" style="font-size: 16px;"></span>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
                            required oninput="validateEmail()">
                        <span id="messageEmail" class="text-danger" style="font-size: 16px;"></span>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password"
                            name="password" required oninput="validatePassword()">
                        <span id="messagePassword" class="text-danger" style="font-size: 16px;"></span>
                    </div>
                    <div class="mb-3">
                        <label for="repeatPassword" class="form-label">Repeat Password</label>
                        <input type="password" class="form-control" id="repeatPassword" placeholder="Repeat password"
                            name="repeatPassword" required oninput="validateRepeatPassword()">
                        <span id="messageRepeatPassword" class="text-dark" style="font-size: 16px;"></span>
                    </div>
                    {{!-- <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Remember Me</label>
                        <a href="#" class="ms-2">Forget password?</a>
                    </div> --}}
                    <button type="submit" class="btn btn-primary btn-block" id="submitButton" disabled>Submit</button>
                    <div class="mt-3 text-center">
                        <p>Already have an account? <a href="/login">Sign in</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function validateUsername() {
            var username = document.getElementById("username").value;
            var messageUsername = document.getElementById("messageUsername");

            if (username === "") {
                messageUsername.innerHTML = "Please fill in your username";
            } else {
                messageUsername.innerHTML = "";
            }
        }

        function validateEmail() {
            var email = document.getElementById("email").value;
            var messageEmail = document.getElementById("messageEmail");

            if (email === "") {
                messageEmail.innerHTML = "Please fill in your email";
            } else if (email.indexOf('@') <= 0 || (email.charAt(email.length - 4) !== '.' && email.charAt(email.length - 3) !== '.')) {
                messageEmail.innerHTML = "Invalid email format";
            } else {
                messageEmail.innerHTML = "";
            }
        }

        function validatePassword() {
            var password = document.getElementById("password").value;
            var messagePassword = document.getElementById("messagePassword");

            if (password === "") {
                messagePassword.innerHTML = "Please fill in your password";
            } else if (password.length < 8) {
                messagePassword.innerHTML = "Password must be at least 8 characters";
            } else {
                messagePassword.innerHTML = "";
            }
        }

        function validateRepeatPassword() {
            var repeatPassword = document.getElementById("repeatPassword").value;
            var password = document.getElementById("password").value;
            var messageRepeatPassword = document.getElementById("messageRepeatPassword");

            if (repeatPassword !== password) {
                messageRepeatPassword.innerHTML = "Passwords do not match";
            } else {
                messageRepeatPassword.innerHTML = "";
            }

            enableSubmitButton();
        }

        function enableSubmitButton() {
            var username = document.getElementById("username").value;
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;
            var repeatPassword = document.getElementById("repeatPassword").value;
            var submitButton = document.getElementById("submitButton");

            if (username !== "" && email !== "" && password !== "" && repeatPassword !== "" && password === repeatPassword) {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        }
    </script>



    {{!-- <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
            <div class="newslatter-form">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#">
                            <input type="text" placeholder="Your email address">
                            <button type="submit">Subscribe to our newsletter</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-widget">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>About us</h4>
                            <ul>
                                <li>About Us</li>
                                <li>Community</li>
                                <li>Jobs</li>
                                <li>Shipping</li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Customer Care</h4>
                            <ul>
                                <li>Search</li>
                                <li>Privacy Policy</li>
                                <li>2019 Lookbook</li>
                                <li>Shipping & Delivery</li>
                                <li>Gallery</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Our Services</h4>
                            <ul>
                                <li>Free Shipping</li>
                                <li>Free Returnes</li>
                                <li>Our Franchising</li>
                                <li>Terms and conditions</li>
                                <li>Privacy Policy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Information</h4>
                            <ul>
                                <li>Payment methods</li>
                                <li>Times and shipping costs</li>
                                <li>Product Returns</li>
                                <li>Shipping methods</li>
                                <li>Conformity of the products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-links-warp">
            <div class="container">
                <div class="social-links">
                    <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
                    <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
                    <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
                    <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
                    <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
                    <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
                </div>
            </div>

            <div class="container text-center pt-5">

            </div>

        </div>
    </footer> --}}
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/user/jquery-3.3.1.min.js"></script>
    <script src="/user/bootstrap.min.js"></script>
    <script src="/user/jquery.magnific-popup.min.js"></script>
    <script src="/user/jquery.slicknav.js"></script>
    <script src="/user/owl.carousel.min.js"></script>
    <script src="/user/jquery.nice-select.min.js"></script>
    <script src="/user/mixitup.min.js"></script>
    <script src="/user/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>