body {
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1678366633407-7f49da199a42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
    background-size: cover;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 500px;
    margin-top: 8%;
    padding: 20px;
    border-radius: 10px;
    height: 450px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-top: 10px;
    font-size: small;
    margin-bottom: 10px;
    font-weight: 550;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border-color: rgb(216, 216, 216);
    border-style: double;
    border-width: 1px;
    border-radius: 3px;
    font-size: larger;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
    display: block;
    margin-top: 10px;
    font-size: larger;
    color: #fff;
    background-color: black;
    cursor: pointer;
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
    margin-top: 10px;
    font-size: small;
}

a:hover {
    text-decoration: underline;
}