<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Admin Dashboard</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="adminDashboard.css" />
    <lin
      rel="shortcut icon"
      type="image/png"
      href="./assets/imgs/favicon.ico"
    />
  </head>

  <body>
    <!-- =============== Navigation ================ -->
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon">
                <img src="./assets/imgs/favicon.ico" alt="" />
              </span>
              <span class="title">Dunprel Store</span>
            </a>
          </li>

          <li>
            <a href="/admin/main">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Dashboard</span>
            </a>
          </li>

          <li>
            <a href="/admin/category">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Category</span>
            </a>
          </li>

          <li>
            <a href="/admin/categorylist">
              <span class="icon">
                <ion-icon name="chatbubble-outline"></ion-icon>
              </span>
              <span class="title">CategoryList</span>
            </a>
          </li>

          <li>
            <a href="/admin/subcategories">
              <span class="icon">
                <ion-icon name="help-outline"></ion-icon>
              </span>
              <span class="title">SubCategory</span>
            </a>
          </li>

          <li>
            <a href="/admin/">
              <span class="icon">
                <ion-icon name="settings-outline"></ion-icon>
              </span>
              <span class="title"></span>
            </a>
          </li>

          <li>
            <a href="/admin/">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title"></span>
            </a>
          </li>

          <li>
            <a href="/admin/logout">
              <span class="icon">
                <ion-icon name="log-out-outline"></ion-icon>
              </span>
              <span class="title">Sign Out</span>
            </a>
          </li>
          <li>
            <a href="/admin/subcategories">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Subcategorylist</span>
            </a>
          </li>
          <li>
            <a href="/admin/subcategories">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Subcategorylist</span>
            </a>
          </li>
          <li>
            <a href="/admin/subcategories">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Subcategorylist</span>
            </a>
          </li>
          <li>
            <a href="/admin/subcategories">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Subcategorylist</span>
            </a>
          </li>
          <li>
            <a href="/admin/subcategories">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Subcategorylist</span>
            </a>
          </li>
          <li>
            <a href="/admin/subcategories">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Subcategorylist</span>
            </a>
          </li>
          <li>
            <a href="/admin/subcategories">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Subcategorylist</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- ========================= Main ==================== -->
<div class="full">
  <style>
.full{
  padding-top: 200px;
  margin-left: 150px;
}

    .x{
      padding-top: 60px;
    
      margin-left: 550px;
      background-color: rgb(253, 247, 247);
      width: 800px;
      height: 500px;
      border-radius: 40px;
      border: 15px solid rgb(228, 224, 224);
    }
    label{
 
 font-size: 30px;


}
.btn{

  height: 40px;
  width: 400px;
  background-color: black; 

  border-radius: 30px;
  color: wheat;
  margin-left: 200px;
  margin-top: 70px;
  font-size: 18px;
  border: 2px solid white;

}
.btn:hover{
  border: solid black;

background-color: white;
color: black;
font-weight: bolder;
}
input{
  margin-top: 40px;
   font-size: 30px;
  height: 50px;
 margin-left: 20px;
  height: 50px;
  text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 40px;
    font-size: larger;

}
.frml{
  {
    border: 12px solid rgb(2, 2, 2) ;
       background-color: rgb(156, 21, 21);
   
align-items: center;
  }
}
  </style>


<div class="x">
    



   
       <form class="frml" action="/admin/HomepageController" method="POST"  enctype="multipart/form-data">
        <label for="h1">Title:</label>
        <input type="text" id="title" name="h1" required> 

          <label for="h2">Title:</label>
        <input type="text" id="title" name="h2" required> 

      
<label for="image">Choose an image:</label>
   <input type="file" name="image">  

{{!-- <label for="image">Choose an image:</label>
   <input type="file" name="image1">   --}}

    <button class="btn" type="submit">submit</button>
        
    </form>

</div>






      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js"></script>
  </div>
</body>
</html>
