<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin/signup.css">
    <!-- <script src="/login.js"></script> -->
    <title></title>
</head>
<body>
    <div class="login-container">
        <h1>signup</h1>
        <form id="form" action="/admin/signup" method="post" name="myform" onsubmit="return validateForm();">
            <label for="username">Username</label>
            <input type="text" name="name" id="username" required/>
            <span id="message" class="text-danger " style="font-size: 16px;"></span>


            <label for="email">Email</label>
            <input type="email" name="email" id="usermail" required/>
            <span id="messageMail" class="text-danger " style="font-size: 16px;"></span>

            <label for="password">Password</label>
            <input type="password" name="password" id="pass" required/>
            <span id="messagePassword" class="text-danger " style="font-size: 16px;"></span>



            <label class="form-label" for="password">Repeat your password</label>
            <input type="password" id="form3Example4cdg" class="form-control form-control-lg" name="repeatPassword" />
            <span id="messageRepeatPassword" class="text-danger font-weight" style="font-size: 16px;"></span>
          

            <!-- <label for="repass">Password</label>
            <input type="Re-password" name="password" id="repassword" required/> -->



            <input type="submit">
        </form>
    </div>




<script>
    function validateForm() {
        var name = document.forms["myform"]["name"].value;
        var email = document.forms["myform"]["email"].value;
        var password = document.forms["myform"]["password"].value;
        var repeatPassword = document.forms["myform"]["repeatPassword"].value;

        var nameError = document.getElementById("message");
        var emailError = document.getElementById("messageMail");
        var passwordError = document.getElementById("messagePassword");
        var repeatPasswordError = document.getElementById("messageRepeatPassword");

        
        if (name === "") {
            nameError.innerHTML = "Please fill in your name";
            return false;
        }
        nameError.innerHTML = "";

        
        if (email === "") {
            emailError.innerHTML = "Please fill in your email";
            return false;
        }
        if (email.indexOf('@') <= 0 || (email.charAt(email.length - 4) !== '.' && email.charAt(email.length - 3) !== '.')) {
            emailError.innerHTML = "Invalid email format";
            return false;
        }
        emailError.innerHTML = "";

      
        if (password === "") {
            passwordError.innerHTML = "Please fill in your password";
            return false;
        }
        if (password.length < 8) {
            passwordError.innerHTML = "Password must be at least 8 characters";
            return false;
        }
        passwordError.innerHTML = "";

      
        if (repeatPassword !== password) {
            repeatPasswordError.innerHTML = "Passwords do not match";
            return false;
        }
        repeatPasswordError.innerHTML = "";

        return true;
    }
</script>
</body>
</html>
